.wallet { 
  display: flex;
  padding: 3rem; 
  justify-content: space-between;
}

.wallet__heading {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(var(--background-rgb));
}

.center {
  position: relative;
  padding: 3rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.main {
  background-image: url("/Snow-bg.png");
  /* background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%); */
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);

  height: 100vh; /* Full viewport height */
  width: 100%;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
}

.icecard{
  background: linear-gradient(135deg, #e0f7fa, #b2ebf2); /* Light blue gradient */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}
@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

#snow-container {  
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: skyblue;
  position: absolute;
}


.form > * + * {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: rgb(var(--on-accent-rgb));
  background-color: rgb(var(--accent-rgb));
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.form button:hover {
  cursor: pointer;
  background-color: rgb(var(--darker-accent-rgb));
}

.form button span {
  white-space: nowrap;
}

.form button svg {
  width: 1rem;
  fill: currentColor;
}

.field {
  display: block;
}

.field span {
  font-weight: 600;
  font-size: 14px;
}

.field input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: .5rem;
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  background: rgb(var(--secondary-background-rgb));
  color: rgb(var(--hint-rgb));
  font-size: 1rem;
  line-height: 1.5;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.success {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  background: rgb(var(--secondary-background-rgb));
  border: 1px solid rgb(var(--tertiary-background-rgb));
  border-radius: var(--border-radius);
  padding: 1rem;
}

.success > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.success code {
  font-family: var(--font-mono);
  color: rgb(var(--secondary-foreground-rgb));
}

.success svg {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--accent-rgb));
}

.success:hover {
  background-color: rgb(var(--hover-background-rgb));
}

.success:hover code {
  color: rgb(var(--accent-rgb));
}